[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
flask = "*"
pandas = "*"
nltk = "*"
"pymystem3" = "*"
sklearn = "*"
scipy = "*"
gunicorn = "*"

[requires]
python_version = "2.7"
