{% extends "index.html" %}
{% block content %}
<nav class="navbar navbar-default" role="navigation">
	<ul class="nav navbar-nav">
		<li><a href="/">Сравнить тексты</a></li>
		<li><a href="/about/">О проекте</a></li>
		<li class="active"><a href="/contact/">Контакты</a></li>			
	</ul>
</nav>
</nav>
<div class="container">
	<div class="row">
	<h1>Контакты</h1>
	<h3>Раис Хабибулин</h3>
	<h4><p>Создание модели, разработка веб-сайта.
<a href="https://vk.com/raisonline">ВКонтакте</a></p>
	<p></p></h4>
	<h3>Амир Аюпов</h3>
	<h4><p>Идея и руководство.
<a href="https://vk.com/z_brain">ВКонтакте</a></p>
	<p></p></h4>
{% endblock %}
